@page "/"

<h1>Management site for products and Settings. </h1>

<SurveyPrompt Title="Blazor app for products CRUD operations and settings management(enable and disable assistance button on the site)." />
